.myInput {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    width: 100%;
    padding: 5px 15px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 0.5rem;

}






